@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* Master Styles */


body {
	font-family: "Lato", sans-serif;
	margin: 0%;
	font-size: 1.2em;
	line-height: 1.6;
	color: #000;
    overflow-x: hidden;
    height: 100%;
}

header {
    margin-top: 0;
    background-color: #007b5e;
}

header div.container-fluid h1{
    height: 9%;
    margin: auto auto;
}

.page-holder {
	text-align: center;
}

.card .row .col-sm-6 img {
	opacity: 0.3;
}

.card .row .col-sm-6 div {
	font-weight: 600;
}

/* Introductory Carousel */

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -99px;
    cursor: pointer;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 2px
}

.carousel-inner .carousel-item .carousel-caption {
    font-size: 1.5em;
    color: #fff;
}

#career .carousel-caption {
    color: #000;
}

.carousel-item {
    width: 100%;
    height: 500px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Featured article 1 */

.feature-1 div {
	height: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.feature-1 .row div {
	height: 100%;
}

.feature-1 .row .col-md-4 img {
	height: 100%;
} 

.card-img-overlay p {
	display: inline-block;
	font-size: 0.7em;
	text-align: left;
	line-height: 0.9
	height: 100%;
	width: 100%;
}

img.card-img-top {
	height: 100%;
}

.feature-1 .row .col-md-6 img.card-img-top {
	opacity: 0.2;
}

/* Portfolio styles */

div.portfolio-items-wrapper {
	margin-top: 5%;
	height: 600px;
}

.portfolio-items-wrapper div.row {
	height: 45%;
} 

div.mission, 
div.vission,
div.value {
	margin-top: 4%;
	height: 100%;

}

.portfolio-item-wrapper .text-wrapper {
	font-size: 0.75em;
	transition: 1s;
	font-weight: 600;
	color: transparent;
	z-index: 2;
}

.portfolio-item-wrapper:hover .text-wrapper {
	font-weight: 600;
	color: lightseagreen;
}

.portfolio-item-wrapper img.rounded {
	height: 100%;
}

/* Needs to be more specific with selector */
.text-wrapper:hover {
	font-weight: 600;
	color: lightseagreen;
}

.img-darken {
	transition: 1s;
	filter: brightness(10%);
}

/* Services */

 div.services {
 	background: #666;
 	height: 43%;
 	font-size: 0.8em;
 }

.services div.carousel {
	height: 100%;
}

.carousel div.carousel-inner {
	margin-top: 3%;
	height: 90%;
}

.carousel-control-prev-icon {
	margin-right: auto;
}

.carousel-control-next-icon {
	margin-left: auto;
}

.carousel-item .row div {
	margin: auto auto;
	height: 80%;
	padding: 3%;
}

.carousel-item .row {
	margin-top: 3%;
}

div.services-heading {
	height: 10%;
}

div.services-info {
	height: 90%;
	text-align: left;
}

.feature-2 {
	margin-top: 6%;
	padding-top: 6%;
	padding-bottom: 2%
}

/* Universities / Partners */


/* Student Reviews */

.card-main {
    padding: 7%;
    border-radius: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
    color: #000;
    background-color: #536DFE !important;
    position: relative;
    margin-left: 18%;
    border-radius: 3%;
    min-height: 100%;
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #FFD54F;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 150px;
    margin-right: 80px
}

.close-quotes {
    margin-bottom: 100px;
    margin-right: 60px
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

    .close-quotes {
        margin-right: 30px
    }
}

/* footer */