@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* Master Styles */


body {
	font-family: "Lato", sans-serif !important;
	margin: 0%;
	font-size: 1.2em;
	line-height: 1.6;
    background-color: #FFD54F; 
	color: #000;
    overflow-x: hidden;
    height: 100%;
}

header {
    margin-top: 0;
    background-color: #007b5e;
}

header div.container-fluid h1{
    height: 9%;
    margin: auto auto;
}

.page-holder {
	text-align: center;
}

/* Introductory Carousel */

.card .row .col-sm-6 img {
    opacity: 0.3;
}

.card .row .col-sm-6 div {
    font-weight: 600;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}

.carousel .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -99px;
    cursor: pointer;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 2px
}

.carousel-inner .carousel-item .carousel-caption {
    font-size: 1.5em;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
}

#career,
#visa,
#ucas {
    width: 100%;
    height: 500px;
}

.carousel-item img.d-block {
    /*width: 100%;*/
    object-fit: cover;
    height: 100%;
    display: block;
}

/* Featured article 1 */

.feature-1 {
    font-size: 1.1em;
}

.feature-1 div {
	height: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}

.feature-1 .row div {
	height: 100%;
}

.feature-1 .row .col-md-4 img {
	height: 100%;
} 

.card-img-overlay p {
	display: inline-block;
	font-size: 0.7em;
	text-align: left;
	line-height: 0.9
	height: 100%;
	width: 100%;
}

img.card-img-top {
	height: 100%;
}

.feature-1 .row .col-md-6 img.card-img-top {
	opacity: 0.2;
}

/* Portfolio styles */

div.portfolio-items {
    margin-top: 2%;
    height: 60rem;
    justify-content: center;
}

.fa {
    padding: 10px;
    margin: 10px;
    width: 38px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

h1 {
    font-family: 'Yrsa', serif;
    font-size: 50px;
}

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 120px;
    perspective: 1000px;
}

.flip-card-inner {
    width: 260px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
    width: 260px;
    height: 300px;
    background-color: #f2f2f2;
}

.card-title {
    color: #007b5e;
    padding: 20px;
}

header {
    background-color: #007b5e;
}

.person {
    color: #007b5e;
    font-family: 'Yrsa', serif;
    font-size: 1.5em;
    padding: 15px;
}

.person-2 {
    color: #007b5e;
    font-family: 'Yrsa', serif;
    font-size: 1.8em;
    padding: 15px;
}


.card-body {
    background-color: #f2f2f2;
}

.portfolio-item {
    margin-top: 4.1rem !important;
}

.portfolio-item div.card {
    width: 260px;
}


/* exeter-ad */
.exeter-ad {
    background-image: url(../images/austin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 25rem;
    margin-top: 12rem;
    object-fit: cover;
}

/* Personal Statement Feature */

.ucas-text {
    line-height: 1.8;
}

/* Services */

@media (max-width:991.98px) {
.padding {
    padding: 1.5rem;
}
}

@media (max-width:767.98px) {
.padding {
     padding: 1rem;
}
}

.padding {
    padding: 5rem;
}

.my-container {
    background-color: #536DFE !important;
    margin-top: -4%;
}

.items .card {
    position: relative;
    display: flex;
    width: 700px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.items .card a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.card .card-body {
    padding: 1rem 1rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

h4 {
    line-height: .2 !important;
}

.items {
    width: 90%; 
    margin: 0px auto;
    margin-top: 100px;
}

.slick-slide {
    margin: 10px;
}

.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}

.circle .media-content:before {
    width: 40%;
    left: 30%
}

.profile-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 11px !important;
    border-top-right-radius: 11px
}

.card-title {
    font-size: 1em;
    font-weight: 400
}

.feature-2 {
	margin-top: 6%;
	padding-top: 1%;
	padding-bottom: 1%
}

/*Extended services*/

.careers-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/calipers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.followup-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/follow_ups.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.departure-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/departure_services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.ucas-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/ucas_service.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.visa-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/visa_services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.exposition-intro {
    position: relative;
    height: 20em;
    background-image: url("../images/services/exposition_services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.careers-intro p,
.followup-intro p,
.departure-intro p,
.ucas-intro p,
.visa-intro p,
.exposition-intro p {
    position: absolute;
    justify-content: center;
    width: 70%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    left: 0;
}

.followup-body,
.departure-process,
.visa-process,
.ucas-process,
.choosing-a-course {
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.7;
}


.choosing-a-course .row .col-lg-5 a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.choosing-a-course .row .col-lg-5 img {
    width: 100%;
    height: 100%;
}

/* Universities / Partners */

.affiliates-intro {
    font-size: 1.4rem !important;
    font-family: "Lato";
}


/* Student Reviews */

.card-main {
    padding: 7%;
    border-radius: 2%;
    margin-top: 7%;
    margin-bottom: 7%;
    box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
    color: #000;
    background-color: #536DFE !important;
    position: relative;
    margin-left: 1rem;
    border-radius: 3%;
    height: 25rem !important;
    font-size: 0.8rem;
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #FFD54F;
    position: absolute;
    left: -2rem;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 8rem;
}

.profile-pic {
    width: 7.5rem;
    height: 7.5rem;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 8.125rem;
    margin-top: 4rem;
}

.content {
    margin-top: 0rem;
    margin-left: 9.375rem;
    margin-right: 5rem;
}

.close-quotes {
    margin-bottom: 6.25rem;
    margin-right: 3.75rem;
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 3.125rem 0.625rem;
    }

    .card-0 {
        min-height: 20rem;
    }

    .profile {
        top: 24%;
    }

    .profile-pic {
        width: 5.4rem;
        height: 5.4rem;
    }

    .open-quotes {
        margin-left: 6.25rem;
    }

    .content {
        margin-left: 7.5rem;
        margin-right: 3.125rem;
    }

    .close-quotes {
        margin-right: 1.85rem;
    }
}

@media screen and (max-width: 375px) {

    .card-0 {
        height: 36rem !important;
    }
}

/* footer */

.my-footer {
    margin-top: 14rem;
}