@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* Master Styles */


body {
	font-family: "Lato", sans-serif;
	text-align: center;
	margin: 0%;
}

.card .row .col-sm-6 img {
	opacity: 0.3;
}

.card .row .col-sm-6 div {
	font-weight: 600;
}

/* Navigstion Bar */

nav.navbar {
	margin-left: 0;
	font-size: 1.2em;
}

button.navbar-toggler {
	position: absolute;
	top: 0;
	right: 0;
}

div.collapse, ul.navbar-nav {
	height: 100%;
}

ul.navbar-nav {
	margin-top: 50px;
}

.navbar-nav li.nav-item {
	margin-top: 20px;
}

/* Featured article */

nav.navbar {
	position: fixed;
	height: 100%;
}

div.feature-1 {
	height: 25%;
}

div.feature-1 div.row {
	height: 100%;
	margin-bottom: 1%;
}

div.feature-1 div.row div.col-5 {
	height: 100%;
}

img.card-img-top {
	height: 100%;
}

/* Portfolio styles */

.portfolio-items-wrapper {
	margin-top: 30px;
	height: 50%;
}

.portfolio-items-wrapper img.card-img-top, .portfolio-items-wrapper div.card-img-overlay {
	height: 100%;
	width: 100%;
} 

.mission, .vission, .value {
	height: 40%;
	margin-top: 20px;
}

.portfolio-item-wrapper .text-wrapper {
	width: 70%;
	font-size: 0.9em;
	transition: 1s;
	font-weight: 600;
	color: transparent;
	grid-area: overlap;
	z-index: 2;
}

.portfolio-item-wrapper:hover .text-wrapper {
	font-weight: 600;
	color: lightseagreen;
}

.portfolio-img-bg {
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	grid-area: overlap;
}

.portfolio-item-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "overlap";
}

.logo-wrapper img{
	width: 70%;
	margin-bottom: 20px;
}

.text-wrapper .subtitle {
	transition: 1s;
	font-weight: 600;
	color: transparent;

}

/* Needs to be more specific with selector */
.text-wrapper:hover {
	font-weight: 600;
	color: lightseagreen;
}

.img-darken {
	transition: 1s;
	filter: brightness(10%);
}

/* Services */

 div.services {
 	background: #666;
 	height: 500px;
 }

.services div.carousel {
	height: 100%;
}

.carousel-control-prev-icon {
	margin-right: 50px;
}

.carousel-control-next-icon {
	margin-left: 50px;
}

/* Universities */

.feature-3 {
	display: inline;
	border: 1px solid rgb(150,150,150);
	border-radius: 5px;
	height: 200px;
}

.feature_content3 {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "overlap";
}

.content_img_bg3 {
	height: 200px;
	grid-area: overlap;
	opacity: 0.3;
}

.content3 {
	height: 100%;
	grid-area: overlap;
	font-weight: 800;
	margin-top: 15px;
	text-align: left;
	margin-left: 10px;
}

.feature_3-img-bg {
	background-image: url("../images/books.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

.affiliates {
	margin-top: 40px;
	text-align: left;
	line-height: 1.7;
	font-size: 16px;
}

.affiliates h2 {
	text-transform: uppercase;
}

.affiliates p {
	font-family: open sans;
	font-size: 1.2em;
}

.affiliate-list .affiliate-tripple {
	margin-top: 20px;
}

.affiliate-list .affiliate-tripple .affiliate {
	margin-left: 5px;
	text-align: center;
}

.affiliate .affiliate-img img {
	height: 250px;
}

.location span {
	margin-top: 26px;
}

/* Footer */
#footer {
	margin-top: 30px;
	border: 1px solid rgb(150,150,150);
	border-radius: 5px;
}